$dark-color: #17212b;
$darker-color: #141b22;
$gray-color: #293b4d;
$medium-blue-color: #28adfa;
$light-color: #dde3f9;
$primary-color: #3f51b5;

$light-gray-color: #57606855;
$dark-color-85: #17212bb5;
$darker-color-85: #141b22b5;
$gray-color-85: #293b4db5;
$light-color-85: #dde3f9b5;
$primary-color-85: #3f51b5b5;
