@import '~vuestic-ui/src/components/vuestic-sass/global/reset.scss';
@import '~vuestic-ui/src/components/vuestic-sass/global/normalize.scss';
@import '~vuestic-ui/src/components/vuestic-sass/vuestic-styles.scss';
@import './icons/icons.scss';
.medium-title {
  font-size: 1em;
} 
.large-title {
  font-size: 2em;
} 

@import './owerrides.scss';
@import './constants.scss';

.dark {
  background: $dark-color !important;
  color: $light-color;
}
.darker {
  background: $darker-color !important;
  color: $light-color;
}
.gray {
  background: $gray-color !important;
  color: $light-color;
}
::selection {
  background: $primary-color;
}

.title-dark {
  color: $medium-blue-color !important;
}

.underline {
  text-decoration: underline;
}
.h1 {
  font-size: 36pt;
}

.h2 {
  font-size: 26pt;
}
.h3 {
  font-size: 16pt;
}

.h4 {
  font-size: 10pt;
}
