@import './constants.scss';

.va-navbar__shape {
  border-top-color: $gray-color !important;
}

.dark,
.darker {
  .va-input__container__input {
    color: $light-color !important;
  }
  .va-input__container {
    background-color: $light-gray-color !important;
    border-color: $light-color !important;
  }
  .va-input__container__label {
    color: $light-color !important;
  }

  .va-card {
    background-color: transparent;
    box-shadow: none;
    img {
      border-radius: 10px;
    }
  }
  .va-tab__content {
    color: $medium-blue-color !important;
  }
}

.hidden-tab-line {
  .va-tabs__slider-wrapper {
    background-color: transparent !important;
  }
}
